body {
    margin: 0;
    background: linear-gradient(
        90deg,
        rgb(0, 0, 0) 0%,
        rgb(0, 140, 0) 20%,
        rgb(125, 255, 138) 100%
    );
    background-size: 400% 400%;
    display: grid;
    place-items: center;
    text-align: center;
}

form {
    display: grid;
    place-items: center;
}

#submit:hover {
    cursor: pointer;
}

h2 {
    color: rgba(255, 255, 255, 0.1);
    text-shadow: 1px 1px 1px rgba(145, 145, 145, 0.1),
        1px 2px 1px rgba(0, 0, 0, 0.1), 1px 9px 3px rgba(16, 16, 16, 0.1),
        1px 22px 10px rgba(16, 16, 16, 0.1), 1px 18px 36px rgba(16, 16, 16, 0.1),
        1px 36px 72px rgba(16, 16, 16, 0.1);
    margin-left: 1em;
}

.friendText {
    color: rgba(255, 255, 255, 0.1);
    text-shadow: 1px 1px 1px rgba(145, 145, 145, 0.1),
        1px 2px 1px rgba(0, 0, 0, 0.1), 1px 9px 3px rgba(16, 16, 16, 0.1),
        1px 22px 10px rgba(16, 16, 16, 0.1), 1px 18px 36px rgba(16, 16, 16, 0.1),
        1px 36px 72px rgba(16, 16, 16, 0.1);
    margin-left: 1em;
}

.friendName {
    color: rgba(255, 255, 255, 0.1);
    text-shadow: 1px 1px 1px rgba(145, 145, 145, 0.1),
        1px 2px 1px rgba(0, 0, 0, 0.1), 1px 9px 3px rgba(16, 16, 16, 0.1),
        1px 22px 10px rgba(16, 16, 16, 0.1), 1px 18px 36px rgba(16, 16, 16, 0.1),
        1px 36px 72px rgba(16, 16, 16, 0.1);
}

/* .friendName:hover {
    cursor: default;
    color: rgba(255, 255, 255, 0.5);
} */

.friendText:hover {
    cursor: default;
    color: rgba(255, 255, 255, 0.5);
}

.logo {
    grid-column-start: 1;
    grid-column-end: 3;
    justify-self: start;
    margin-left: 1em;
    /* margin-bottom: 1em; */
    font-family: verdana;
    font-size: 1.5em;
    color: rgba(255, 255, 255, 0.1);
    text-shadow: 1px 1px 1px rgba(145, 145, 145, 0.1),
        1px 2px 1px rgba(0, 0, 0, 0.1), 1px 9px 3px rgba(16, 16, 16, 0.1),
        1px 22px 10px rgba(16, 16, 16, 0.1), 1px 18px 36px rgba(16, 16, 16, 0.1),
        1px 36px 72px rgba(16, 16, 16, 0.1);
}

.logo2 {
    font-family: verdana;
    font-size: 5em;
    color: rgba(255, 255, 255, 0.1);
    text-shadow: 1px 1px 1px rgba(145, 145, 145, 0.1),
        1px 2px 1px rgba(0, 0, 0, 0.1), 1px 9px 3px rgba(16, 16, 16, 0.1),
        1px 22px 10px rgba(16, 16, 16, 0.1), 1px 18px 36px rgba(16, 16, 16, 0.1),
        1px 36px 72px rgba(16, 16, 16, 0.1);
}

.logo:hover {
    cursor: default;
    color: rgba(255, 255, 255, 0.5);
}

input {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    margin: 1em;
    height: 2em;
    width: 10em;
    border-radius: 7px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.005);
    text-shadow: 1px 1px 1px rgba(145, 145, 145, 0.1),
        1px 2px 1px rgba(0, 0, 0, 0.1), 1px 9px 3px rgba(16, 16, 16, 0.1),
        1px 22px 10px rgba(16, 16, 16, 0.1), 1px 18px 36px rgba(16, 16, 16, 0.1),
        1px 36px 72px rgba(16, 16, 16, 0.1);
}

input:hover {
    box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.1);
}

input::placeholder {
    color: rgba(255, 255, 255, 0.1);
    text-align: center;
}

input:hover::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

input:focus {
    color: rgba(255, 255, 255, 0.5);
    outline: none;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3),
        0px -1px 0px rgba(0, 0, 0, 0.2);
}

input::file-selector-button {
    height: 2em;
    border: none;
    text-shadow: rgba(255, 0, 136, 0.7) 0 1px, rgba(0, 200, 255, 0.7) 0 -1px;
    background-color: rgba(255, 255, 255, 0.5);
}

input::file-selector-button:hover {
    cursor: pointer;
}

a {
    color: rgba(255, 255, 255, 0.1);
    text-decoration: none;
    /* text-shadow: rgba(255, 0, 136, 0.7) 0 1px, rgba(0, 200, 255, 0.7) 0 -1px; */
    /* color: rgba(255, 255, 255, 0.5); */
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2),
        1px 18px 6px rgba(16, 16, 16, 0.01),
        1px 22px 10px rgba(16, 16, 16, 0.05),
        1px 25px 35px rgba(16, 16, 16, 0.05),
        1px 30px 60px rgba(16, 16, 16, 0.01);
}

a:hover {
    color: rgba(255, 255, 255, 0.5);
}

a:visited {
    /* color: black; */
    color: rgba(255, 255, 255, 0.1);
    /* text-shadow: rgba(255, 0, 136, 0.7) 0 -1px, rgba(0, 200, 255, 0.7) 0 1px; */
}

button {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    margin: 1em;
    width: 10em;
    height: 2em;
    color: rgba(255, 255, 255, 0.1);
    border-radius: 7px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.005);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2),
        1px 18px 6px rgba(16, 16, 16, 0.01),
        1px 22px 10px rgba(16, 16, 16, 0.05),
        1px 25px 35px rgba(16, 16, 16, 0.05),
        1px 30px 60px rgba(16, 16, 16, 0.01);
    /* text-shadow: rgba(255, 0, 136, 0.7) 0 1px, rgba(0, 200, 255, 0.7) 0 -1px; */
}

button:hover {
    color: rgba(255, 255, 255, 0.5);
    box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

button:active {
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3),
        0px -3px 0px rgba(0, 0, 0, 0.2);
}

#profileCon {
    display: grid;
    margin: 1em;
    grid-template-columns: 0.1fr 0.1fr 1fr 0.1fr;
    grid-template-rows: 80px 1fr 0.85fr;
    place-items: center;
    width: 97vw;
    height: 100%;
    gap: 1em;
}

.bio {
    grid-column-start: 1;
    grid-row-start: 1;
    display: grid;
    grid-template-rows: 0.1fr 1fr;
    margin: 1em;
    justify-self: start;
}

.buttonBio {
    grid-row-start: 2;
}

#bioText {
    border: none;
    border-radius: 1em;
    margin: 1em;
    width: 20em;
    height: 6em;
    font-size: 1.5em;
    background-color: rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2),
        0px -2px 0px rgba(0, 0, 0, 0.2);
    grid-row-start: 1;
}

#bioText:focus {
    outline: none;
}

.bioRender {
    grid-column-start: 1;
    grid-row-start: 1;
    margin-left: 1em;
    color: rgba(255, 255, 255, 0.5);
    text-shadow: 1px 1px 1px rgba(145, 145, 145, 0.1),
        1px 2px 1px rgba(0, 0, 0, 0.1), 1px 9px 3px rgba(16, 16, 16, 0.1),
        1px 22px 10px rgba(16, 16, 16, 0.1), 1px 18px 36px rgba(16, 16, 16, 0.1),
        1px 36px 72px rgba(16, 16, 16, 0.1);
}

#usernameBig {
    align-self: start;
    grid-column-start: 2;

    color: rgba(255, 255, 255, 0.1);
    text-shadow: 1px 1px 1px rgba(145, 145, 145, 0.1),
        1px 18px 6px rgba(16, 16, 16, 0.01),
        1px 22px 10px rgba(16, 16, 16, 0.05),
        1px 25px 35px rgba(16, 16, 16, 0.05),
        1px 30px 60px rgba(16, 16, 16, 0.01);
}

#usernameBig:hover {
    cursor: default;
    color: rgba(255, 255, 255, 0.5);
}

.messageCon {
    grid-column-start: 3;
    grid-column-end: 5;
    display: grid;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 1em;
    box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.005);
}

.chatCon {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    display: grid;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 1em;
    box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.005);
}

#profileComponent {
    display: grid;
    min-width: 17em;
    width: 80%;
    grid-template-columns: 0.1fr 1fr;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 1em;
    box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.005);
    grid-column-start: 1;
    grid-column-end: 3;
}

#profileComponent > #usernameBig {
    grid-column-start: 1;
    grid-row-start: 2;
}

#profileComponent:hover {
    box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.01);
}

#profileComponent > .profilePic {
    margin: 2em;
    border-radius: 1em;
    height: 13em;
    width: 13em;
    grid-column-start: 1;
    grid-row-start: 1;
    justify-self: start;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.005);
}

#profileComponent > .profilePic:hover {
    cursor: pointer;
    box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.1);
}

#profileComponent > .profilePic:active {
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3),
        0px -3px 0px rgba(0, 0, 0, 0.2);
}

.navBar {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    display: grid;
    gap: 1em;
    padding-right: 1em;
    grid-template-columns: repeat(5, 1fr);
    place-items: center;
    height: 5em;
    width: 95%;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 1em;
    box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.005);
}

.navBar:hover {
    box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.01);
}

.profilePic {
    grid-column-start: 6;
    object-fit: cover;
    border-radius: 1em;
    height: 4em;
    width: 4em;
    justify-self: end;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.005);
}

.profilePic:hover {
    cursor: pointer;
    box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.1);
}

.profilePic:active {
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3),
        0px -3px 0px rgba(0, 0, 0, 0.7);
}

#uploader {
    grid-column-start: 1;
}

.newFriendsLink {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.005);
    grid-column-start: 5;
    grid-row-start: 1;
    border-radius: 1em;
    width: 100%;
    height: 80%;
}

.linkText {
    /* grid-column-start: 5;
    grid-row-start: 1; */
    border-radius: 1em;
    width: 100%;
    height: 90%;
    font-size: 1em;
    padding: auto;
}

.newFriendsLink:hover {
    box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.1);
}

.newFriendsLink:active {
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3),
        0px -3px 0px rgba(0, 0, 0, 0.7);
}

.friendsLink {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.005);
    grid-column-start: 4;
    grid-row-start: 1;
    width: 100%;
    height: 80%;
    border-radius: 1em;
}

.chatLink {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.005);
    grid-column-start: 3;
    grid-row-start: 1;
    width: 100%;
    height: 80%;
    border-radius: 1em;
}

.chatLink:hover {
    color: rgba(0, 0, 0, 0.5);
    box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.1);
}

.chatLink:active {
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3),
        0px -3px 0px rgba(0, 0, 0, 0.7);
}

.friendsLink:hover {
    color: rgba(0, 0, 0, 0.5);
    box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.1);
}

.friendsLink:active {
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3),
        0px -3px 0px rgba(0, 0, 0, 0.7);
}

.peopleList {
    list-style: none;
}

li {
    margin: 1em;
}

.findContainer {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 1em;
    box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.005);
    display: grid;
    position: relative;
    width: 30em;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 1fr;
    place-items: center;
}

.listImage {
    width: 9em;
    height: 9em;
    object-fit: cover;
    border-radius: 1em;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.005);
}

.listImage:hover {
    cursor: pointer;
    box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.1);
}

.listImage:active {
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3),
        0px -3px 0px rgba(0, 0, 0, 0.7);
}
.findInput {
    grid-column-start: 2;
}

.friendsCon {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 1em;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 1em;
    box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.005);
    padding-top: 1em;
}

.friendsCon2 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 1em;
    width: 100%;
    padding-top: 2em;
}

.friendsAndWannabes {
    grid-column-start: 1;
    grid-column-end: 5;
    display: grid;
    grid-template-rows: 5em 1fr 5em 1fr;
    width: 100%;
}

.friendsAndWannabes > h2 {
    justify-self: start;
}

.messCon {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 5;
    display: grid;
    grid-template-rows: 1fr 0.1fr;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 1em;
    box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.005);
}

.messPic {
    margin: 1em;
    grid-row-start: 1;
    grid-column-start: 1;
    object-fit: cover;
    border-radius: 1em;
    height: 4em;
    width: 4em;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.005);
}

.messPic:hover {
    cursor: pointer;
    box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.1);
}

.messPic:active {
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3),
        0px -3px 0px rgba(0, 0, 0, 0.7);
}

.chatBoard{
    height: 30em;
    overflow: scroll;
}

.chatMessage {
    display: grid;
    grid-template-columns: 0.1fr 1fr;
    place-items: center;
}

.chatMessage > p {
    text-align: start;
    color: rgba(255, 255, 255, 0.2);
    border: solid 1px rgba(255, 255, 255, 0.1);
    border-radius: 1em;
    width: 90%;
    padding: 1em;
}

.chatMessage > p:hover {
    color: rgba(255, 255, 255, 0.5);
}

.messName {
    padding: 0;
    margin-top: -1em;
    color: rgba(255, 255, 255, 0.2);
}

.textChat{
    border: none;
    border-radius: 1em;
    margin: 1em;
    width: 30em;
    height: 6em;
    font-size: 1.5em;
    background-color: rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2),
        0px -2px 0px rgba(0, 0, 0, 0.2);
}

.textChat:focus{
    outline: none;
}

.chatInput{
    display: grid;
    grid-template-rows: 1fr 0.1fr;
    place-items: center;
}